nav.navbar{
  position: fixed;
  width: 100%;
  background-color: white;
}
.Navbar-links-Div{
  margin-right: 15px;
}
.Navbar-link-a{
  padding: 10px;
  text-decoration: none;
  color: black;
}
.Navbar-link-a:hover{
  color: blue;
}
.Header{
  text-align: center;
  height: 96vh;
}
section.hello-container{
  text-align: center;
  height: 100vh;
}
section.about-container{
  text-align: center;
  height: 100vh;
}
section.contact-container{
  text-align: center;
  height: 100vh;
}
hr.section-line{
  margin-top: 0px;
  margin-bottom: 0px;
}
.Header-title{
  padding-top: 15vh;
}
.Footer{
  border-top: solid 0.5px;
  border-color: grey;
  height: 100px;
}
body{
  background-color: #F8F9FA;
}
