nav.navbar{
  position: fixed;
  width: 100%;
  background-color: #F8F9FA;
  border-bottom: solid;
  border-width: 1px;
}
.Navbar-links-Div{
  margin-right: 15px;
}
.Navbar-link-a{
  padding: 10px;
  text-decoration: none;
  color: black;
}
.Navbar-link-a:hover{
  color: blue;
}
.Header{
  text-align: center;
  height: 96vh;
}
section.hello-container{
  text-align: center;
  height: 100vh;
  background-color: #F8F9FA;
}
section.about-container{
  text-align: center;
  height: 100vh;
  background-color: #F8F9FA;
}
section.contact-container{
  text-align: center;
  height: 100vh;
  background-color: #F8F9FA;
}
hr.section-line{
  margin-top: 0px;
  margin-bottom: 0px;
}
.Header-title{
  padding-top: 15vh;
}
img.asr_van{
  height: 250px;
  width: 250px;
  float: left;
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5px;
}
body{
  background-color: #F8F9FA;
}
form.contact-form{
  padding: 10px;
}
input.contact-input{
  margin: 5px;
}
